body
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

input
{
    background-color: #444;
    height: 40px;
    width: 300px;
    color: #fff;
    font-size: 26px;
}

#answers
{
    color: #fff;
    font-size: 26px;
}